<% if @cart.contents.empty? %>
  <h1>Your Cart is Empty</h1>
  <br>
  <%= link_to "Add a Donation", donations_path, class: "btn btn-primary" %>
<% else %>
  <h1>Your Cart</h1>
  <br>
  <table class=index-table>
    <tr>
      <th colspan="2">Info</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
      <th></th>
    </tr>
    <% @cart.cart_items.each do |item| %>
    <tr id=donation-<%= item.id %>>
      <td><%= image_tag item.image_url, class: "icon" %></td>
      <td><%= item.title %></td>
      <td class=currency><%= item.display_price %></td>
      <td>
        <table class=quantity-update>
          <tr>
            <td>
              <%= form_for :cart, url: cart_path(item.id), method: :put do |f| %>
              <%= f.text_field :quantity, value: item.quantity+1, type: :hidden%>
              <%= f.submit "+", class: "btn btn-xs btn-info quantity-button" %>
              <% end %>
            </td>
            <td rowspan="2">
              <%= form_for :cart, url: cart_path(item.id), method: :put do |f| %>
              <%= f.text_field :quantity, value: item.quantity, id: "quantity-#{item.id}", class: "quantity-field" %>
              <%= f.submit "Update", class: "btn btn-xs btn-warning" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <%= form_for :cart, url: cart_path(item.id), method: :put do |f| %>
              <%= f.text_field :quantity, value: item.quantity-1, type: :hidden%>
              <%= f.submit "-", class: "btn btn-xs btn-info quantity-button" %>
              <% end %>
            </td>
          </tr>
        </table>
      </td>
      <td class=currency><%= item.display_subtotal %></td>
      <td><%= link_to "Remove", cart_path(item.id), method: :delete, class: "btn btn-xs btn-danger" %></td>
    </tr>
    <% end %>
    <tr id="total">
      <th colspan="3"></th>
      <th>TOTAL</th>
      <th class=currency><%= @cart.display_total %></th>
      <th></th>
    </tr>
  </table>
  <br>
  <% if current_user %>
    <%= link_to "Checkout", orders_path, class: "btn btn-primary", method: :post %>
  <% else %>
    <%= link_to "Login or Register to Checkout", login_path, class: "btn btn-primary" %>
  <% end %>
<% end %>
