<h1>Your Cart</h1>
<table>
<tr>
  <th colspan="2">Info</th>
  <th>Price</th>
  <th>Quantity</th>
  <th>Subtotal</th>
  <th></th>
</tr>
<% @cart.display_cart.each_pair do |donation, quantity| %>
<tr id=donation-<%= donation.id %>>
  <td><%= image_tag donation.image_path %></td>
  <td><%= donation.title %></td>
  <td><%= donation.price %></td>
  <td>
    <%= form_for :cart, url: cart_path(donation.id), method: :put do |f| %>
      <%= f.text_field :quantity, value: quantity, id: "quantity-#{donation.id}" %>
      <%= f.submit "Update" %>
    <% end %>
  </td>
  <td><%= donation.subtotal(quantity) %></td>
  <td><%= link_to "Remove", cart_path(donation.id), method: :delete, class: "btn" %></td>
</tr>
<% end %>
<tr id="total">
  <th colspan="3"></th>
  <th>TOTAL</th>
  <th><%= @cart.total %></th>
</tr>
</table>

<% if current_user %>
  <%= button_to "Checkout", orders_path %>
<% else %>
  <%= link_to "Login or Register to Checkout", login_path %>
  <%# button_to "Login", login_path %>
  <%# button_to "Register to Checkout", new_user_path, method: :get %>
<% end %>
