<h1>Welcome, <%= @user.first_name %>!</h1>

<p>First name: <%= @user.first_name %><p>
<p>Last name: <%= @user.last_name %><p>
<p>Username: <%= @user.username %></p>
<p>Registered email: <%= @user.email %></p>
