<h2>Order Number: <%= @order.id %></h2>
<br>
<table id=order-info class=index-table>
  <tr>
  <th>Total</th>
  <th>Current Status</th>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>
  <tr>
    <td><%= @order.total %></td>
    <td><%= @order.display_status %></td>
    <td><%= @order.display_create_date %></td>
    <td><%= @order.display_update_date  %></td>
    <% if @order.active? %>
      <td><%= @order.display_update_date %></td>
    <% end %>
  </tr>
</table>
<br><br>
<table class=index-table>
  <tr>
    <th>Info</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>
  <% @order.details.each do |order_donation| %>
    <tr id=donation-<%= order_donation.donation.id %>>
      <td><%= link_to order_donation.donation.title, donation_path(order_donation.donation) %></td>
      <td><%= order_donation.quantity %></td>
      <td><%= order_donation.display_subtotal %></td>
    </tr>
  <% end %>
</table>
