<%= image_tag @donation.image.url(:medium) %>
<h3><%= @donation.title %></h3>
<p><%= @donation.description %></p>
<p><%= @donation.display_price %></p>
<br>
<% if @donation.active %>
  <%= button_to "Add to Cart", cart_index_path(donation_id: @donation.id), class: "btn btn-primary" %>
<% else %>
  <p class="btn btn-outline-primary">Donation Retired</p>
<% end %>
