<h1>Admin Dashboard</h1>
<h2>All Orders</h2>

<table id="total">
  <tr>
    <th>All</th>
    <th>Ordered</th>
    <th>Paid</th>
    <th>Completed</th>
    <th>Cancelled</th>
  </tr>
  <tr>
    <td><%= @counts["all"]%></td>
    <td><%= @counts["ordered"]%></td>
    <td><%= @counts["paid"]%></td>
    <td><%= @counts["completed"]%></td>
    <td><%= @counts["cancelled"]%></td>
  </tr>
</table>

<table>
  <tr>
    <th>Order Number</th>
    <th>Order Date</th>
    <th>Order Total</th>
    <th>Order Status</th>
    <th>View Details</th>
  </tr>
  <% @orders.each do |order| %>
    <tr id=order-<%= order.id %>>
      <td id=id-<%= order.id %>><%= order.id %></td>
      <td><%#= order.display_create_date %></td>
      <td><%= order.display_status %></td>
      <td><%#= order.total %></td>
      <td><%= link_to "View Order", order_path(order) %></td>
      <td >
        <% unless order.completed? %>
          <%= form_for order, url: order_path(order), method: :put do |f| %>
            <%= f.text_field :status, value: order.next_status, type: :hidden %>
            <%= f.submit "Mark as #{order.next_status}" %>
          <% end %>
        <% end %>
        <% if order.cancellable? %>
          <%= form_for order, url: order_path(order), method: :delete do |f| %>
          <%= f.submit "Mark as cancelled" %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
