<h1>Edit Donation</h1>
<br>
<%= form_for @donation, url: admin_donation_path(@donation) do |f| %>
  <table class=form-table>
    <tr>
      <th><%= f.label :title %></th>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <th><%= f.label :description %></th>
      <td><%= f.text_area :description %></td>
    </tr>
    <tr>
      <th><%= f.label :price %></th>
      <td><%= f.text_field :price %></td>
    </tr>
    <tr>
      <th><%= f.label :category %></th>
      <td><%= f.collection_select(:category_id, @categories, :id, :display_name, {:prompt => true} ) %></td>
    </tr>
    <tr>
      <th><%= f.label :image %></th>
      <td><%= f.file_field :image %></td>
    </tr>
    <tr>
      <th><%= f.label :active %></th>
      <td><%= f.select :active, [true, false] %></td>
    </tr>
  </table>
  <br>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
